/*
 * Stylesheet for Chris Perardi | Autodidact
 *
 * DESCRIPTION
 *
 * This file serves up all the styles for the entire website, including
 * styles for screen and print media types and browser-specific hacks.
 *
 * CREDITS
 *
 * Author: Chris Perardi <design@perardi.com>
 * Date: 2013-07-06
 *
 * TABLE OF CONTENTS
 *
 * #001. Reset
 * #002. Screen styles
 *       #002.a Reset
 *       #002.b Page layout
 *       #002.c Headers
 *       #002.d Generic typography
 *       #002.e Lists
 *       #002.f Tables
 *       #002.g Forms
 *       #002.h Images
 *       #002.i Grids
 * #003. Print syles
 *       #002.a Generic Styles
 *       #002.b Page Layout
 *       #002.c Typography
 * #004. Mobile devices styles
 *       #004.a iPhone and other smartphones
 *       #004.b iPad and similar devices
 * #005. Browser-specific hacks
 * #006. Vendor code
 */
html, body {
  height: 100%;
  font-family: "aktiv-grotesk-std", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 300; }

body {
  overflow: hidden; }

#photo_back_wrap {
  background-color: #000000;
  width: 100%;
  height: 100%;
  background: url(../img/cityscape_large.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#central_dogma {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 25%;
  background-color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(100, 100, 100, 0.5);
  box-shadow: 0px 0px 100px 0px rgba(100, 100, 100, 0.5); }

@media only screen and (min-width: 768px) {
  #central_dogma {
    background: url(../img/cityscape_wash_large.jpg) no-repeat center center fixed; } }
@media only screen and (max-width: 768px) {
  #photo_back_wrap {
    background: url(../img/cityscape_medium.jpg) no-repeat center center fixed; }

  #central_dogma {
    background: url(../img/cityscape_wash_medium.jpg) no-repeat center center fixed; }

  #terminal_dogma {
    width: 80% !important; } }
@media only screen and (max-width: 479px) {
  #photo_back_wrap {
    background: url(../img/cityscape_small.jpg) no-repeat center center fixed; }

  #central_dogma {
    background: url(../img/cityscape_wash_small.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  #adam {
    float: none;
    width: 100%; }

  #eve {
    float: none;
    width: 100%;
    border-left: none !important;
    border-top: 1px solid #ffffff;
    padding-left: 0;
    padding-top: 2%; } }
#terminal_dogma {
  width: 60%;
  height: 100%;
  overflow: hidden;
  padding: 2%;
  margin: 0 auto; }

#adam {
  float: left;
  width: 20%; }

#eve {
  float: right;
  width: 75%;
  border-left: 1px solid #ffffff;
  padding-left: 2%; }

h1, p {
  color: #12426d; }

h1 {
  font-family: "aktiv-grotesk-std", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 200 !important;
  font-size: 3.75em;
  margin: 0;
  zoom: 1;
  filter: alpha(opacity=75);
  opacity: 0.75; }

.lighter {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.50;
  font-size: 0.85em; }

.even_lighter {
  zoom: 1;
  filter: alpha(opacity=25);
  opacity: 0.25;
  font-size: 0.65em; }

p {
  font-size: 1.5em; }

.smaller {
  font-size: 1.05em; }

a {
  color: #12426d;
  text-decoration: none;
  border-bottom: 1px solid #ffffff; }

/*
 * #001: Reset
 *
 * Mostly by Eric Meyer. See:
 *
 * - http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
 * - http://html5doctor.com/html-5-reset-stylesheet/
 * - http://www.aestheticallyloyal.com/public/optimize-legibility/
 * - http://maxvoltar.com/archive/-webkit-font-smoothing
 * - http://people.opera.com/patrickl/experiments/keyboard/test
 * - http://www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/
 * - http://code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 *
 * The reset styles do not just counter everything in the default browser
 * stylesheet, but may also be used to define basic element styling across
 * media.
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
  display: block; }

p, table, fieldset, ol, ul, dl, pre, h1, h2, h3, h4, h5, h6, blockquote {
  margin: 20px 0; }

body {
  font: 13px/1.22 sans-serif;
  *font-size: small;
  *font: x-small;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  font-size: inherit;
  font: 100%;
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

blockquote, q {
  quotes: none; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  padding: 0; }

select, input, textarea, button {
  font: 99% sans-serif; }

input, select {
  vertical-align: middle; }

body, select, input, textarea {
  color: #444;
  line-height: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility; }

html {
  overflow-y: scroll; }

sub, sup {
  font-size: smaller;
  line-height: 0; }

sub {
  vertical-align: sub; }

sup {
  vertical-align: super; }

pre {
  padding: 15px;
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], button {
  cursor: pointer; }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

button {
  width: auto;
  overflow: visible; }

button, input, select, textarea {
  margin: 0; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

/*
 * #002: Screen styles
 */
@media screen {
  /*
   * #002.b: Page layout
   */
  #page {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px; }

  nav ul {
    margin: 20px 0;
    list-style: none;
    margin-left: -20px;
    position: relative; }
    nav ul li {
      float: left;
      display: inline;
      margin-left: 20px; }

  .autoclear, nav ul {
    zoom: 1; }
    .autoclear:before, nav ul:before, .autoclear:after, nav ul:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .autoclear:after, nav ul:after {
      clear: both; }

  /*
   * #002.c: Headers
   */
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold; }

  h1 {
    font-size: 24px; }

  h2 {
    font-size: 18px; }

  h3 {
    font-size: 16px; }

  h4 {
    font-size: 14px; }

  h5 {
    font-size: 12px; }

  h6 {
    font-size: 11px; }

  /*
   * #002.d: Generic typography
   */
  a {
    color: #000099; }
    a:visited {
      color: #050561; }
    a:hover, a:focus {
      color: blue; }
    a:active {
      color: #6666ff; }

  p.leader {
    font-size: 16px; }

  blockquote {
    margin: 20px 20px; }
    blockquote p {
      margin: 0; }

  small, div.photo p, figcaption {
    font-size: 11px;
    color: #999; }

  b, strong {
    font-weight: bold; }

  em, i {
    font-style: italic; }

  /*
   * #002.e: Lists
   */
  ul {
    list-style: disc;
    margin-left: 20px; }

  ol {
    list-style: decimal-leading-zero;
    margin-left: 25px; }

  /*
   * #002.f: Tables
   */
  /*
   * #002.g: Forms
   */
  /*
   * #002.h: Images
   */
  div.photo.left, img.left, figure.left {
    float: left;
    margin: 0 20px 20px 0; }

  div.photo.right, img.right, figure.right {
    float: right;
    margin: 0 0 20px 20px; }

  div.photo.full, img.full, figure.full {
    clear: both;
    display: block;
    text-align: center;
    margin: 20px auto; }

  div.photo.bordered img, img.bordered, figure.bordered img {
    border: 1px solid #111; }

  div.photo p, figcaption {
    margin: 0; } }
/*
 * #003: Print styles
 */
@media print {
  /*
   * #002.a: Generic styles
   */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  /*
   * #002.b: Page layout
   */
  #nav,
  form,
  #global_navigation,
  #sidebar {
    display: none; }

  /*
   * #002.c: Typography
   */
  body {
    font: 12pt/16pt Cambria, Georgia, Times, Times New Roman, serif;
    color: #333; }

  p, table, fieldset, ol, ul, dl, pre, h1, h2, h3, h4, h5, h6, blockquote {
    margin: 16pt 0; } }
/*
 * #004: Mobile devices styles
 *
 * These follow after primary styles so they will successfully override.
 */
/*
 * #004.a Portrait mode
 */
/*
 * #004.b iPad and similar devices
 */
/*
 * #004.c Generic Grade-A mobile browsers
 * (Opera Mobile, Mobile Safari, Android Chrome)
 */
@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none; } }
/*
 * #005: Browser-specific hacks
 *
 * The following rules are meant to fix cross-browser compatibility issues.
 *
 * Conditional comments have applied some special classes to the HTML element,
 * such as .ie6, .ie7, .ie8 and .ie9.
 */
/*
 * #006: Vendor code
 *
 * Insert code from other libraries or plugins below.
 */
