<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="<%= @site.config[:meta_data][:lang] %>" class="no-js ie ie6 lte7 lte8 lte9"> <![endif]-->
<!--[if IE 7 ]>    <html lang="<%= @site.config[:meta_data][:lang] %>" class="no-js ie ie7 lte7 lte8 lte9"> <![endif]-->
<!--[if IE 8 ]>    <html lang="<%= @site.config[:meta_data][:lang] %>" class="no-js ie ie8 lte8 lte9"> <![endif]-->
<!--[if IE 9 ]>    <html lang="<%= @site.config[:meta_data][:lang] %>" class="no-js ie ie9 lte9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="<%= @site.config[:meta_data][:lang] %>" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title><%= @item[:title] %> &bull; <%= @site.config[:meta_data][:title] %></title>
        <%= meta_tag :keywords %>
        <%= meta_tag :description %>
        <%= meta_tag :copyright %>
        <%= meta_tag :author %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/styles.css">
        <link href="/favicon.png" rel="shortcut icon">

    </head>
    <body>

        <div id="photo_back_wrap">

            <div id="central_dogma" role="maincontent">

                <%= yield %> 

            </div><!-- /central column -->

        </div><!-- /photo backing -->

        <script src="/assets/lib.js"></script>
    </body>
</html>